.headline {
    position: relative;
    height: 50vh;
    margin: 11vh auto 0;
    color: seashell;
    text-align: center;
    background: url(https://wallpaperaccess.com/full/2394157.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.headline::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    animation: fade-in 500ms 2500ms ease-in forwards;
}

.inner > h1 {
    margin: 0;
    font-size: 4em;
    line-height: 1.2em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.inner > p {
    margin: 0;
    font-size: 1.4em;
    font-style: italic;
    font-family: serif;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}