.image-view {
    grid-row: 2/19;
    grid-column: 2/20;
    background: url($photo-post-img);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-info {
    grid-row: 20/22;
    grid-column: 2/20;
    display: grid;
    grid-template: auto / 10vh auto 40vh;
    gap: 5px;
    padding: 5px;

    .icon {
        text-align: center;
    }

    h3 {
        margin-block-start: 0;

        span {
            font-weight: 300;
        }
    }

    .image-interaction {
        text-align: end;
        cursor: pointer;

        p {
            margin-block-start: 0;
        }
    }
}
