.full-screen-nav-style {
    grid-row: 3/13;
    grid-column: 1/21;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(40, 1fr);
    
    .nav-bg {
        width: 100vw;
        height: 100%;
        grid-row: 1/6;
        grid-column: 1/41;
        z-index: 1;

        img {
            opacity: 0.1;
            max-height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 0 0;
        }
    }

    .seperation {
        content: '';
        background: $nav-seperationColor;
        width: 30px;
        height: 100%;
        grid-row: 1/6;
        grid-column-start: 15;
        transform: skewX(20deg);
        z-index: 2;
    }

    .nav-img-box {
        width: 100vw;
        height: 100%;
        grid-row: 1/6;
        grid-column: 1/41;
        z-index: 10;
        // // image to have transparent effect: top-right is visible and bottom-left is transparent
        // // this is coming from css tricks: https://css-tricks.com/clipping-masking-css/
        // -webkit-mask-image: -webkit-gradient(linear, right top, left bottom,
        //     color-stop(0.00,  rgba(0,0,0,1)),
        //     color-stop(0.50,  rgba(0,0,0,1)),
        //     color-stop(0.65,  rgba(0,0,0,0)),
        //     color-stop(0.85,  rgba(0,0,0,0)),
        //     color-stop(1.00,  rgba(0,0,0,0)));
        
        // clip-path: polygon(20% 0%, 100% 0, 100% 100%, 30% 100%);
        img {
            max-height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 0 0;
        }
    }

    .nav-list {
        grid-row: 1/6;
        grid-column: 2/13;
        padding: 10px;
        z-index: 10;
        display: inline-block;
        list-style: none;
        
        li {
            width: 100px;
            padding: 10px;
            margin: 10px;
            background: $global-lightColor;
            border-radius: 5px;
            text-align: center;
            
            a {
                text-decoration: none;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: $nav-menuTextColor;
            }
        }

        li:hover {
            background: $nav-menuListColor;
            a {
                color: $global-lightColor;
            }
        }

        @for $i from 1 through 6 {                
            li:nth-child(#{$i}) {
                @include list-location($i);
            }
        }
    }
}