@import "./CSS/navbar.css";

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

section {
    width: 100%;
    margin: 25px auto;
    padding: 20px;
    max-width: 800px;
    font-size: 1.2em;
    line-height: 1.6em;
    box-sizing: border-box;
}

section img {
    display: block;
    margin: 0 auto;
    max-width: 800px;
}