.chefs {
    padding: 100px 0 ;
    margin: 5vh 0;
    display: grid;
    grid-template-columns: 5vw clamp(3vw, 3.5vw, 4vw) clamp(150px, 30vw, 400px) auto;
    grid-template-rows: 6vw auto 6vw;

    &-bg {
        grid-row: 1/-1;
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 5vw clamp(3vw, 3.5vw, 4vw) clamp(150px, 30vw, 400px) auto 5vw;
        grid-template-rows: 6vw auto 6vw;

        .border-top {
            @extend %borderStyle;
            grid-row: 1/2;
            clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0 50%, 90% 50%, 90% 100%);
        }

        .border-bottom {
            @extend %borderStyle;
            grid-row: 3/-2;
            clip-path: polygon(90% 0, 100% 0, 100% 100%, 0 100%, 0 50%, 90% 50%);
        }

        .chef-bg {
            grid-column: 1/-1;
            grid-row: 2/3;
            background: getColor(accentLightColor);
            box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            display: grid;
            grid-template-columns: 5vw clamp(3vw, 3.5vw, 4vw) clamp(150px, 30vw, 400px) auto;
            z-index: 2;
            place-items: center;
                    
            .title {
                grid-column: 3/4;
                width: clamp(150px, 20vw ,350px);
                height: fit-content;
                text-align: center;
            }

            .portfiles {
                grid-column: 4/5;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                
                .box {
                    grid-column: 4/-1;
                    background: white;
                    padding: 20px;
                    width: 250px;
                    margin: 15px;
                }
            }
        }

        .red-border {
            grid-column: 2/3;
            grid-row: 1/-1;
            background-color: getColor(accentRedColor);
            z-index: 3;
        }
    }
}

@media (max-width: 991px) {

}