// global variables
$global-lightColor: #fff5ee;
$global-shadowColor: #00000077;

// theme color
$baseColor: #0b0949;
// $baseColor: #00385D;

// header color
$header-backgroundColor: #0060a580;

// nav bar color
$nav-seperationColor: #38001777;
$nav-menuListColor: #fcb14f;
$nav-menuTextColor: #231a5c;